body{
    background-color: #4c4c4c;
}

h1{
    color: white;
}

h5{
    font-size: 1.25rem !important;
}

a{
    text-decoration: none !important;
}

#menu-toggle{
    margin-bottom: 10px;
}

.sidebar-brand > a{
    color:#E84A5F !important;
    font-family: sans-serif;
}

.about{
    display: inline-block;
}

.big-thumbnail{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 525px;
}

.img-thumbnail{
    background-color: transparent;
    border-color: transparent;
    border:none;
    z-index: 2;
    text-decoration: none;
    padding: 0;
}

.img-name{
    color: white;
    text-align: center;
    top:85%;
    position: relative;
    z-index: 3;
    height: 30px;
    background-color: black;
    line-height: normal;
    margin: 0;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 10px;
}

.pagination li {
    display: inline;
    text-align: center;
}
.pagination .page.active {
    cursor: default;
}
.pagination .page:active {
    outline: none;
}

li:first-child .page{
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px 0 0 6px;
}
li:last-child .page {
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0;
    border-radius: 0 6px 6px 0;
}

.pagination li > a:hover {
    background-color: #93b6f4;
}
.page.active {
    border-color: #4285F4;
    background: #4285F4;
    color: #fff;
}

.pagination-block{
    position: relative;
    width: 100%;
    height: 100px;
}

.pagination {
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > li {
    display: inline
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}

.viewer{
    z-index:1001;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: black;
    display: table-cell;
    vertical-align: middle;
}

.container-img{
    margin: auto auto;
    position: relative;
    height: 98%;
    width: 98%;
    z-index: 1;
    top:1%;
}

.imgViewer {
    height: 100%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

@media only screen and (max-width: 767px) {
    .imgViewer {
        height: auto;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        top: 8em;
        position: relative;

    }
}

.control{
    width: 400px;
    margin:auto;
    display: flex;
    position: fixed;
    z-index: 2;
    top:90%;
    left: 25%;
    right: 25%;
}

@media only screen and (max-width: 767px) {
    .control{
        width:100%;
        left: 0em;
    }
}

.control > div{
    margin: auto auto;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    border: solid 0.1em black;
    background-color: white;
}

.control > div:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: scale(0.95);
}

.cross{
      background-color: white;
      background-image:url(../assets/cross.png);
      background-repeat: no-repeat;
      background-size: contain;
      height: 40px;
      width: 40px;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 2;
      border-radius:50%;
      border: solid 0.1em black;
  }

.cross:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: scale(0.95);
    background-color: #E84A5F;
}

.fullscreen{
    background-color: white;
    background-image:url(../assets/fullscreen.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
    border-radius:50%;
    border: solid 0.1em black;
}

.fullscreen:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: scale(0.95);
}

.full-back{
    background-image:url(../assets/full-back.png);

 }

.backImage{
    background-image:url(../assets/back.png);
}

.start{
    background-image:url(../assets/play.png);
}

.time{
    position: absolute;
    top:-100%;
    left: 45%;
}

.input-time{
    width: 28px;
    height: 36px;
    border-radius:100%;
    border: transparent;
    background: transparent;
    text-align: center;  
}

.time-second{
    position: relative;
    left:-5px;
}

.pause{
    background-image:url(../assets/pause.png);
}

.nextImage{
    background-image:url(../assets/next.png);
}

.full-next{
    background-image:url(../assets/full-next.png);
}

#body {
    padding: 50px;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
}
#body button.btn {
    -webkit-box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.25);
    padding: 0;
    background: #E84A5F;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    border-radius: 50%;
    position: absolute;
    right: 35px;
    bottom: 35px;
}
#body button.btn:focus {
    outline: none;
}
#body button.btn:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    -webkit-box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.35) !important;
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.35) !important;
}
#body button.btn i {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
}
#body button.btn i:before {
    font-size: 25px;
}
#body, #body * {
    -webkit-transition: all .3s;
    transition: all .3s;
}
#body .out-wrap {
    position: relative;
    padding: 0 50px 50px;
    -webkit-box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.25);
    width: 50%;
    margin: 50px auto;
    background: #fff;
}
#body .out-wrap .head {
    background: #E84A5F;
    margin: 0 -50px 50px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
#body .out-wrap .in-wrap {
    margin: auto;
    border: dashed 3px #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
}
#body .out-wrap .in-wrap label {
    padding: 10px 25px;
    background: #E84A5F;
    color: #fff;
    -webkit-box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    -webkit-transition: all .15s;
    transition: all .15s;
}
#body .out-wrap .in-wrap label:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    -webkit-box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.35) !important;
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.35) !important;
}
#body .out-wrap .in-wrap p.f-name {
    margin: 0;
}
#body .out-wrap .in-wrap p.f-name > p {
    font-size: 13px;
    margin: 20px 0 0;
    text-transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all .3s, -webkit-transform .3s .1s;
    transition: all .3s, -webkit-transform .3s .1s;
    transition: all .3s, transform .3s .1s;
    transition: all .3s, transform .3s .1s, -webkit-transform .3s .1s;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1.5;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#body .out-wrap .in-wrap p.f-name > p span {
    max-width: 70%;
    padding-left: 15px;
    margin-left: 15px;
    border-left: dotted 1px #999;
}
#body .out-wrap .in-wrap p.f-name > p i:before {
    font-size: 50px;
    display: inline-block;
    margin: 0 15px 0 0;
}
#body .out-wrap .in-wrap p.f-name > p.upload {
    border: solid 3px transparent;
    height: 10px;
    overflow: hidden;
    background: #1db33a;
    margin: 20px auto 0;
    -webkit-animation: progress 3s;
    animation: progress 3s;
}
@-webkit-keyframes progress {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes progress {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
#body .out-wrap .in-wrap p.f-name > p.upload > * {
    opacity: 0;
}
#body .out-wrap .in-wrap p.f-name > p.upload.done {
    width: 30px;
    height: 15px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: transparent;
    border-color: transparent transparent #1db33a #1db33a;
}
#body .out-wrap .in-wrap input[type="file"] {
    display: none;
}

@media only screen and (max-width: 767px) {
    #body {
        padding: 15px 0;
    }

    .out-wrap {
        width: 90% !important;
    }
}





.download {
    color: #007bff;
    position: relative;
    margin: 10px 7px;
    margin-left: 0px;
    padding: 5px 70px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    border: 3px solid #007bff;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}



.download:after{
    top:8px;
    color: #007bff;
    content:"Download";
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    text-align:center;
    -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.download:before {
    top:8px;
    color: #007bff;
    content:"Go! →";
    height:100%;
    width:100%;
    position:absolute;
    left:-100%;
    opacity: 0;
    text-align:center;
    -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.download:hover{
    background:#383736;
}

.download:hover:before{
    left:0;
    opacity:1;
    color:#007bff;
}
.download:hover:after{
    left:100%;
    opacity:0;
}

.download.left:hover{
    background:none;
}

.download.left:before {
    left:100%;
    color:#007bff;
    -webkit-transition: all 425ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.download.left:hover:before{
    left:0;
}

.row, .text-center, .text-lg-left{
    margin-top: 15px;
}

.loader {
    background: #4c4c4c;
    background: radial-gradient(#222, #4c4c4c);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: 
		spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
	;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

#search {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 100px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
    transition: all .5s;
    -webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
    font-family: inherit;
    outline: none;
    font-size: 100%;
    z-index: 2;
    position: relative;
    margin-left: 1em;
}

#search::-webkit-search-decoration,
#search::-webkit-search-cancel-button {
	display: none; 
}

#search:focus {
	width: 130px;
	background-color: #fff;
	border-color: #E84A5F;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


#search:-moz-placeholder {
	color: #999;
}
#search::-webkit-input-placeholder {
	color: #999;
}

@media only screen and (max-width: 400px) {
    .searchButton{
        display: none;
    }
}

.searchButton {
    background:#E84A5F;
    color:white;
    padding:10px 20px;
    border-radius:0 10px 10px 0;
    -moz-border-radius:0 10px 10px 0;
    -webkit-border-radius:0 10px 10px 0;
    -o-border-radius:0 10px 10px 0;
    border:0 none;
    font-weight:bold;
    left: -17px;
    position: relative;
    z-index: 1;
    width: 100px;
}

@import url(//fonts.googleapis.com/css?family=Lato:700);


.notfound {
    overflow: hidden;
    position: relative;
    left: 40%;
}

@-webkit-keyframes eye-blink {
    95% { color: #bbb; text-shadow: 3px 0 0 #4c4c4c; }
    100% { color: #4c4c4c; text-shadow: 3px 0 0 #bbb; }
}
@-moz-keyframes eye-blink {
    95% { color: #bbb; text-shadow: 3px 0 0 #4c4c4c; }
    100% { color: #4c4c4c; text-shadow: 3px 0 0 #bbb; }
}
@-o-keyframes eye-blink {
    95% { color: #bbb; text-shadow: 3px 0 0 #4c4c4c; }
    100% { color: #4c4c4c; text-shadow: 3px 0 0 #bbb; }
}
@keyframes eye-blink {
    95% { color: #bbb; text-shadow: 3px 0 0 #4c4c4c; }
    100% { color: #4c4c4c; text-shadow: 3px 0 0 #bbb; }
}

.face {
    color: #bbb;
    line-height: 0.8;
    font-size: 300px;
    margin-bottom: 120px;
    position: relative;
    left:20%;
}
.face .eyes {
    text-shadow: 3px 0 0 #4c4c4c;
    -webkit-animation: eye-blink 3s infinite;
    -moz-animation: eye-blink 3s infinite;
    -o-animation: eye-blink 3s infinite;
    animation: eye-blink 3s infinite;
}
.face-smile .eyes {
    color: #4c4c4c;
    text-shadow: -5px 0 0 #bbb;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}
.face-smile .mouth {
    display: inline-block;
    -webkit-transition: all .7s ease;
    -webkit-transform: rotateY(180deg);
    -moz-transition: all .7s ease;
    -moz-transform: rotateY(180deg);
    -o-transition: all .7s ease;
    -o-transform: rotate(180deg);
    transition: all .7s ease;
    transform: rotateY(180deg);
}
.message {
    font-size: 28px;
    color: #E84A5F;
    text-align: center;
}

#download-title{
    width:100%;
    display: -webkit-box;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);

.dropdown-menu {
  display: inline-block;
  list-style: none;
  list-style-type: none;
  list-style-position: none;
  border-bottom: none;
  margin: 0;
  -moz-list-style: none none none;
  -moz-margin-before: 0;
  -moz-margin-after: 0;
  -moz-margin-start: 0;
  -moz-margin-end: 0;
  -moz-padding-start: 0;
  -webkit-list-style: none none none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
.dropdown-menu li {
  display: inline-block;
}
.tag-container {
  zoom: 1;
}
.tag-container:after, .tag-container:before {
  content: "";
  display: table;
}
.tag-container:after {
  clear: both;
}
.tag-container {
  font-family: "Source Sans Pro", sans-serif;
}

h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  color: #ccc;
  font-weight: 600;
  float: left;
  margin: 0;
  line-height: 32px;
}
.tag-area {
  height: auto;
  min-height: 50px;
  border: 1px solid #ccc;
  margin-top: 10px;
  padding: 10px 10px 5px 10px;
  float: left;
}
.tag {
  position: relative;
  width: auto;
  height: 30px;
  padding: 0 10px;
  line-height: 32px;
  background: #007bff;
  float: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin: 0 5px 5px 0;
  border-radius: 4px;
  overflow: hidden;
}

.tag span {
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: rgba(46, 112, 130, 0.8);
  transition: right ease 200ms;
}
.tag:hover {
  cursor: pointer;
}
.tag:hover span {
  right: 0;
}
.dropdown {
  position: relative;
  float: left;
  margin: 0 10px;
  width: auto;
}
.dropdown .add-tag,.valid-tag,.modify-tag {
  display: inline-block;
  border-bottom: 1px solid #007bff;
  padding: 0 8px;
  line-height: 28px;
  font-size: 14px;
  color: #007bff;
}

.valid-tag{
    color: #E84A5F; 
    border-bottom: 1px solid #E84A5F;
}
.dropdown .add-tag:hover,.valid-tag:hover,.modify-tag:hover,.valid-tag:hover {
  cursor: pointer;
  background: #007bff;
  color: #fff;
}

.dropdown .valid-tag:hover {
    background: #E84A5F;
  }

.dropdown .help-us{
    color: #E84A5F;
}

.dropdown .add-tag:active {
  background: #3b90a8;
}
.dropdown .add-tag:focus {
  outline: none;
}
.dropdown .dropdown-menu {
  display: block;
  position: absolute;
  top: 34px;
  left: 0;
  width: auto;
  height: 300px;
  overflow: auto;
  min-width: 200px;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 1000;
  box-shadow: 2px 2px 3px rgba(17, 17, 17, 0.2);
  display: none;
}
.dropdown .dropdown-menu li {
  width: 100%;
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border-bottom: 1px solid #dbdbdb;
}
.dropdown .dropdown-menu li:hover {
  cursor: pointer;
  background: #8cc6d7;
}
.dropdown .dropdown-menu li.added {
  background: #d7ebf1;
  cursor: default;
}
.dropdown.open .dropdown-menu {
  display: block;
}
.dropdown.open .add-tag {
  background: #3b90a8;
  color: #fff;
}

#list-tag {
width: 95%;
position: absolute;
right: 0px;
left: 0px;
margin: auto;
background: #6f6d6d;
padding: 1em;
border: 1px solid #6f6d6d;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(0, 0, 0, 0.05);
border-radius: 3px;
overflow: hidden;
}
.list-wrap {
margin-top: 0.4em;
overflow-y: auto;
overflow-x: hidden;
}
.list {
padding-left: 0px;
-moz-column-count: 6;
-moz-column-gap: 20px;
-webkit-column-count: 6;
-webkit-column-gap: 20px;
column-count: 6;
column-gap: 20px;
}

.list-item {
font-weight: 600;
font-size: 15px;
padding: 0.5em 0.8em;
overflow: hidden;
}

.about-tag{
    cursor:pointer;
}

.item-list-subtext {
font-size: 85%;
color: white;
}

.email{
    color:#E84A5F;
}

.container-favorite {
    right: 0px;
    position: absolute;
    display: inline-block;
  }

@media only screen and (max-width: 520px) {
    .container-favorite {
        display: block;
    }
}

  .container-favorite > .dropdown-favorite {
    margin: 0 20px;
    vertical-align: top;
  }
  
  .dropdown-favorite {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 28px;
    width: 150px;
    background: #f2f2f2;
    border: 1px solid;
    border-color: white #f7f7f7 whitesmoke;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);    
  }
  
  .dropdown-favorite:before, .dropdown-favorite:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 9px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #888888 transparent;
    pointer-events: none;
  }
  
  .dropdown-favorite:before {
    border-bottom-style: solid;
    border-top: none;
  }
  
  .dropdown-favorite:after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
  }

  .dropdown-favorite-select {
    position: relative;
    width: 130%;
    margin: 0;
    padding: 6px 8px 6px 10px;
    height: 28px;
    line-height: 14px;
    font-size: 12px;
    color: #62717a;
    text-shadow: 0 1px white;
    background: #f2f2f2; /* Fallback for IE 8 */
    background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
    border: 0;
    border-radius: 0;
    -webkit-appearance: none; 
  }
  
  .dropdown-favorite-select:focus {
    z-index: 3;
    width: 100%;
    color: #394349;
    outline: 2px solid #49aff2;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  
  .dropdown-favorite-select > option {
    margin: 3px;
    padding: 6px 8px;
    text-shadow: none;
    background: #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Fix for IE 8 putting the arrows behind the select element. */
  
  .lt-ie9 .dropdown-favorite {
    z-index: 1;
  }
  
  .lt-ie9 .dropdown-favorite-select {
    z-index: -1;
  }
  
  .lt-ie9 .dropdown-favorite-select:focus {
    z-index: 3;
  }
  
  /* Dirty fix for Firefox adding padding where it shouldn't. */
  
  @-moz-document url-prefix() {
    .dropdown-select {
      padding-left: 6px;
    }
  }

  .pulse:hover, .pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
    border-color: var(--hover);
  }
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 var(--hover);
    }
  }

  .pulse {
    --hover: #E84A5F;
    color: #E84A5F;
    transition: 0.25s;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    margin-left: 0px;
    padding: 1em 1em;
    clear: left;
  }

  .pulse-div-add, .pulse-div-remove{
      width: 100%;
      display: flex;
  }

  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.blur{
    filter: blur(10px);
}

.pass {
    height: 66px;
    left: 0;
    position: relative;
    top: 0px;
  }
  @media (max-width: 767px) {
    .pass {
      height: 50px;
      top: 8px;
    }
  }
  .eye {
    -moz-user-select: none;
    cursor: pointer;
    width: 40px;
    top:15px;
    position: relative;
  }
  .hand {
    transition: transform 300ms;
    transform: translateY(120%);
  }
  .hand.visible {
    transform: translateY(0);
  }