body{
    background-color: #4c4c4c;
}

h1{
    color: white;
}

h5{
    font-size: 1.25rem !important;
}

a{
    text-decoration: none !important;
}

#menu-toggle{
    margin-bottom: 10px;
}

.img-thumbnail{
    background-color: transparent;
    border-color: transparent;
    border:none;
    z-index: 2;
    text-decoration: none;
    padding: 0;
}

.img-name{
    color: white;
    text-align: center;
    top:85%;
    position: relative;
    z-index: 3;
    height: 30px;
    background-color: black;
    line-height: normal;
    margin: 0;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 10px;
}

.pagination li {
    display: inline;
    text-align: center;
}
.pagination .page.active {
    cursor: default;
}
.pagination .page:active {
    outline: none;
}

li:first-child .page{
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px 0 0 6px;
}
li:last-child .page {
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0;
    border-radius: 0 6px 6px 0;
}

.pagination li > a:hover {
    background-color: #93b6f4;
}
.page.active {
    border-color: #4285F4;
    background: #4285F4;
    color: #fff;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}

.pagination > li {
    display: inline
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}

.viewer{
    z-index:1001;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: black;
    display: table-cell;
    vertical-align: middle;
}

.container-img{
    margin: auto auto;
    position: relative;
    height: 98%;
    z-index: 1;
    top:1%;
}

.container-img > img {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.control{
    width: 400px;
    margin:auto;
    display: flex;
    position: fixed;
    z-index: 2;
    top:90%;
    left: 25%;
    right: 25%;
}

.control > div{
    margin: auto auto;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    border: solid 0.1em black;
    background-color: white;
}

.control > div:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: scale(0.95);
}

.cross{
    background-color: white;
    background-image:url(../assets/cross.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    border-radius:50%;
    border: solid 0.1em black;
 }

.cross:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: scale(0.95);
    background-color: red;
}

.full-back{
    background-image:url(../assets/full-back.png);

 }

.backImage{
    background-image:url(../assets/back.png);
}

.start{
    background-image:url(../assets/play.png);
}

.pause{
    background-image:url(../assets/pause.png);
}

.nextImage{
    background-image:url(../assets/next.png);
}

.full-next{
    background-image:url(../assets/full-next.png);
}